### https://raw.github.com/github/gitignore/4ddafa3728456f3e5b74c9a470e58b2adbdcc882/Global/vim.gitignore

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

dotfiles/.vim/bundle
dotfiles/.vim/autoload
dotfiles/.vim/plugged
cli/venv
configs/scripts/scripts
result
.claude
AGENTS.md
