name: Attempts to update dependencies and validate that the upgrade is safe

on:
  workflow_dispatch:
  schedule:
    # Attempt to update things every Monday at 16:00 UTC (~ mid-morning mountain time)
    - cron: "0 12 * * 1"

jobs:
  propose-dotfile-version-updates:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup nix
        uses: cachix/install-nix-action@v27

      - name: Update flake versions
        id: update-versions
        run: |
          {
            echo 'FLAKE_OUTPUT<<EOF'
            nix flake update 2>&1
            echo EOF
          } >> "$GITHUB_OUTPUT"

      - name: Create Pull Request
        if: ${{ success() }}
        id: create-pull-request
        uses: peter-evans/create-pull-request@v7
        with:
          title: Automatic dotfile version updates
          body: |
            Updates the pinned input versions:
            ```
            ${{ steps.update-versions.outputs.FLAKE_OUTPUT }}
            ```

            This PR should automatically merge when builds have been validated.
          delete-branch: true
          branch: automated/version-updates
          base: main

      - name: Enable auto-merge on PR
        if: ${{ success() && steps.create-pull-request.outputs.pull-request-number }}
        env:
          GH_TOKEN: ${{ secrets.github_token }}
        run: gh pr merge --auto --squash ${{ steps.create-pull-request.outputs.pull-request-number }}

      - name: Notify about updated versions
        if: ${{ success() && github.ref == 'refs/heads/main' }}
        uses: nobrayner/discord-webhook@v1
        with:
          github-token: ${{ secrets.github_token }}
          discord-webhook: ${{ secrets.DISCORD_WEBHOOK }}
          title: 'Updated dotfile version pins'
          description: 'Automerge on [the PR with the changes](${{ steps.create-pull-request.outputs.pull-request-url }}) has been enabled.'

      - name: Notify about failed versions update
        if: ${{ failure() && github.ref == 'refs/heads/main' }}
        uses: nobrayner/discord-webhook@v1
        with:
          github-token: ${{ secrets.github_token }}
          discord-webhook: ${{ secrets.DISCORD_WEBHOOK }}
          title: 'Error while attempting to update pinned versions'
          severity: error
          description: 'There may be incompatibilities that need to be fixed.'
